In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("/home/pavithra/projects/spam_or_ham_fsec/Data/train_data.csv", header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,304.361,-436.590,-33854.769,-96571.569,-15086.947,-794.409,-442.859,304.248,-202.411,-506.852,...,95.294,-3.936,-251.812,256.429,-473.661,-1398.604,42.638,771.185,-191.123,1356.137
1,54.047,90.087,-154.747,-4116.486,38365.133,-589.309,1115.367,274.199,814.953,167.272,...,-176.341,-426.238,-542.428,99.147,-102.309,-277.948,-98.859,-1163.779,265.231,-992.056
2,272.168,-201.736,4212.592,-9123.655,-35422.458,-1029.249,-506.290,-476.856,-570.731,-161.288,...,321.426,-376.033,142.834,920.958,-122.525,-174.304,-137.612,-1571.473,678.323,1020.263
3,170.007,68.736,48662.079,29735.235,-13903.955,895.081,-257.748,-811.058,-691.561,-31.439,...,-409.919,400.946,313.270,123.172,1786.962,147.637,31.433,-784.719,573.433,1454.415
4,86.797,180.052,-49643.545,2515.406,26206.315,-407.453,-189.416,-53.664,-159.507,-42.291,...,-101.761,-424.898,37.254,-337.431,423.691,14.240,267.352,-234.560,-213.804,873.391

In [3]:
data.shape

(3750, 10000)

# 3 | Fixed length check.

In [4]:
# Get the number of columns in each row
row_lengths = data.apply(lambda row: len(row.dropna()), axis=1)

# Check if all rows have the same length
if row_lengths.nunique() == 1:
    print(f"The CSV has fixed length with {row_lengths.iloc[0]} columns.")
else:
    print(f"The CSV has variable length with row lengths: {row_lengths.unique()}")

The CSV has fixed length with 10000 columns.

# 4 | Null value check

In [6]:
# Check for the null values.
null_value_df = data.isna().sum().to_frame(name="null_count").reset_index(names="col")

null_value_df[null_value_df["null_count"] > 0]

Empty DataFrame
Columns: [col, null_count]
Index: []

# 5 | imbalance target check

In [26]:
# Imbalance target in dataset check.


# Merge the train feature and label dataset.
target = pd.read_csv("/home/pavithra/projects/spam_or_ham_fsec/Data/train_labels.csv", header=None)
target.head()

   0
0  1
1  1
2  1
3  1
4  1

In [27]:
target.shape

(3750, 1)

In [30]:
target.columns

Index([0], dtype='int64')

In [31]:
target.iloc[:,0].value_counts() / target.shape[0]

0
 1    0.9
-1    0.1
Name: count, dtype: float64

In [33]:
(target.iloc[:,0].value_counts() / target.shape[0]) * 100

0
 1    90.0
-1    10.0
Name: count, dtype: float64

#### Highly imbalanced dataset :(((((((